<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scraped Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/return_style.css') }}">
</head>
<body>
<div class="container">
    {% if data %}
    <h1>All The Review for {{query}} on Flipkart </h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Rating</th>
            <th>Comment Header</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        {% for item in data %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.rating }}</td>
            <td>{{ item.comment_header }}</td>
            <td>{{ item.comment }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h1>No Data Found For {{query}} on Flipkart </h1>
    {% endif %}
</div>

<div class="fixed-buttons">
    <form action="/delete" method="POST">
        <button type="submit" class="btn">Go Back to Home</button>
    </form>
    {% if data %}
    <form action="/download_csv" method="GET">
        <button type="submit" class="btn">Download CSV</button>
    </form>
    {% endif %}
</div>
</body>

</html>
